.box {
  box-shadow: 0 2px 10px 0 rgba(147, 147, 147, 0.22);
  background-color: #f0f0f0;
  border: 1px solid #000;
  align-items: center;
  width: "300";
  height: "150";
}
.imgbox {
  box-shadow: 0 2px 10px 0 rgba(147, 147, 147, 0.22);
  background-color: #ffffff;
  border: 1px solid #000;
  align-items: center;
  width: "300";
  height: "150";
}
.span {
  width: 300px;
}
.backupbox {
  box-shadow: 0 2px 10px 0 rgba(147, 147, 147, 0.22);
}